#top{
  position: right;
  left: 0;
  right: 0;
  height:50%;
  background-color: blue;
}
#buttom {
  position:fixed;
  left: 0;
  right: 0;
  height:50%;
  background-color: red;
}


.map-body .h1  {
  padding: 10px;

}

.search {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 10;
  padding: 0;
}
.search input {
  background-color: orange;
  padding: 0.5rem;
  font-size: 20px;
  width: 100%;
}
.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 50px;
  cursor: pointer;
}


