*{
  margin: 20px;
  padding: 0;
}

.dish-name {
  font-size: 30px;
  text-align: left;
  color: red;
}
.button{
  color: red;
  font-size:large;
}
.thumb_img{
  width: 30px;
  height: 30px;
}
.bg-pic {
  width: 30%;
  height: 30%;
}
.img{
padding:0;
margin:0;
width:50;
height:50;
}
/* 1 rem = 16 px   default here: 1.5 rem = 24 */

#p {

  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.p1 {
  font-size: 20px;
}
.p2 {
  font-size: 20px;
}
.ingredients {
  font-size: 20px;
}
.prep {
  font-size: 20px;
  margin-left: 200px;
  margin-bottom: 0;
}
.links {
  color: #1a6445;
  font-size: 25px;
}
#prep {
  margin: 400px;
  font-size: 20px;
  text-align: center;
}
@media all and (min-width: 690px) {
/* Mobile: under 700 px => increase font 00111e*/
.p2 {
  font-size: 20px;
}

}

@media (min-width: 990px){
/* Tablets: font with media for tablet width of 688 px or grater makes the font-size bigger and override size*/


}
@media(min-width: 1390){
    /*  Mobile alternate font with media for tablet width of 688 px or grater makes the font-size bigger and override size*/

  }

d
